body{
    /* background-image: url("../../steth.jpg"); */
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Montserrat";
    padding-bottom: 5% !important;  
}

.welcome-sign{
    font-weight: bolder;
    width: max-content;
    box-shadow: inset;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.card-admin{

    width: 95% !important;
    margin: auto;
    display: flex;
    flex-direction: row !important;
    padding: 1%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    text-align: left;
    color: #000000;
}

.card-admin:hover{
    border: 1px black solid !important;
}

.MuiCardActionArea-focusHighlight{
    background: gray !important;
}

.buttons{
margin: auto;
}

.button{
    width: max-content;
    background-color: black !important;
    color: white !important;
 }
.button:hover{
   background-color: white !important;
   color: black !important;
}
